---
import '@sg-styles/tokens.css';
import '@sg-styles/typography.css';
import '@sg-styles/components.css';
import Header from '../components/Header.astro';

const { title = "HC Mládež" } = Astro.props;
---
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
  </body>
</html>